test.py
test.html
output.svg
account.json
*.exe
.vscode/
__pycache__/
venv/
*.jpg
*.png
.env
chrome_user_data
config.json
build/
dist/
*.spec
screenshots/
main.build/
main.dist/
*.WebView2
*.xml
*.zip