{
  "TARGET_TIME_STR": "2024/10/02 16:15:59.80",
  "NOTIFY_PREFIX": "Tony",
  "SUCCESS_MESSAGE": "已成功購票，請盡速付款",
  "REQUEST_TICKETS": 2,
  "KEYWORD_LIST": ["1F", "4880", "3880"],
  "TRY_AGAIN_WHEN_ERROR": false,
  "TIXCRAFT_EVENT_URL": "https://tixcraft.com/activity/game/24_asmrmaxxx",
  "TIXCRAFT_SESSION_INDEX_LIST": [0, 1, 2],
  "TG_TOKEN": "XXXXXXX:XXXXXXXXXXX",
  "TG_CHAT_ID": XXXXXXXXXX,
  "LINE_NOTIFY_TOKEN": "XXXXXXXXXXXX",
  "_comment": {
    "description": "要搶的票數",
    "REQUEST_TICKETS": "要搶的票數",
    "KEYWORD_LIST": "要搶的票的關鍵字，可以輸入座位名或票價，優先度按照列表順序\n例如: 1F,4880，使用逗號分隔",
    "TRY_AGAIN_WHEN_ERROR": "當腳本遇到錯誤時是否重試，預設為 true\n若設定為 false，則腳本遇到錯誤時會掛起瀏覽器",
    "TIXCRAFT_EVENT_URL": "要搶票的活動網址，記得使用 game 的頁面",
    "TIXCRAFT_SESSION_INDEX_LIST": "該活動要搶的場次索引，優先度按照列表順序",
    "TG_TOKEN": "Telegram Bot Token",
    "TG_CHAT_ID": "Telegram Chat ID",
    "LINE_NOTIFY_TOKEN": "LINE Notify Token"
  }
}
